@{
    ViewData["Title"] = "Página inicial";
}

<div class="text-center">
    <h3>Olá! </h3>   
    <h4>Aqui você tem acesso ao CRUD de notícias e tags.</h4>   
    
    <div class="mt-4">
        <a asp-controller="Noticia" asp-action="Index" class="btn btn-primary btn-lg mx-2">
            <i class="fas fa-newspaper"></i> Gerenciar Notícias
        </a>
        <a asp-controller="Tag" asp-action="Index" class="btn btn-success btn-lg mx-2">
            <i class="fas fa-tags"></i> Gerenciar Tags
        </a>
    </div>
</div>

